<div class="container">
  <h1>Tasks</h1>

    Stay consistent with your habits
    Every time you do the thing, there's a 20% chance that
    you can reward yourself for being awesome.
    <br/>
    This app uese reward prediction error.
    <br/> <br/>
    Learn more about reward prediction error in the time stamp on <%= link_to "this video", "https://youtu.be/vA50EK70whE?t=3003" %> (00:50:03)

    <br/><br/><br/>
  <%= link_to "New Task", new_task_path, class: 'btn btn-primary' %>
  <br/>
  <div class="card">

    <table class="table table-dark">
      <tr>
        <th scope="col">Log</th>
        <th scope="col">Name</th>
        <th scope="col">Dur.</th>
        <th scope="col">Time
        <th scope="col">Log'd</th>
        <th scope="col">Rewards</th>
      </tr>
      <% @tasks.each do |task| %>
          <tr>
            <th scope="row"><%= link_to "+", new_task_log_path(task), class: 'btn btn-success' %></th>
            <td><%= link_to task.name.titleize, task_path(task) %></td>
            <td><%= task.required_time_in_minutes %></td>
            <td><%= task.time_of_day %><br/>
            <%= task.frequency %></td>
            <td><%= task.logs.count %></td>
            <td><%= task.logs.select {|l| l.gave_reward? }.count %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
